
* {
	margin: 0;
	padding: 0;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;

}
a {
	color: red;
}

body {
    
}

.header {
	min-width: 600px;
	width: 100%;
	max-width: 1200px;
	min-height: 90px;
	margin: 0 auto;
	height: 100%;
	background-size: 100% 100%;
	box-sizing: border-box;
}
.middle {
	min-width: 600px;
	width: 100%;
	max-width: 1200px;
	min-height: 520px;
	margin: 0 auto;
	height: 100%;
	background-size: 100% 100%;
	box-sizing: border-box;
}	
.footer {
	min-width: 600px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	background: url(../images/container.jpg);
	background-size: 100% 100%;
	box-sizing: border-box;
}
#header1 {
	min-width: 400px;
	width: 66%;
	min-height: inherit;
	background: url(../images/header.png);
	background-size: 100% 100%;
	float: left;
	padding: 10px;
	box-sizing: inherit;
}


#header2 {
	min-width: 200px;
	width: 33%;
	min-height: inherit;
	background: url(../images/localization.jpg);
	background-size: 100% 100%;
	float: left;
	padding: 10px;
	box-sizing: inherit;
}

#menu {
	min-width: 200px;
	width: 33%;
	min-height: inherit;
	background: yellow;
	background-size: 100% 100%;
	float: left;
	padding: 10px;
	box-sizing: inherit;
}
#content {
	min-width: 400px;
	width: 66%;
	min-height: inherit;
	background: url(../images/content.jpg);
	
	float: left;
	padding: 10px;
	box-sizing: inherit;
	background-size: 100% 100%;
}
#footer {
	min-width: 600px;
	width: 99%;
	background: url(../images/footer.jpg);
	background-size: 100% 100%;
	float: left;
	padding: 10px;
	box-sizing: inherit;
}